<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='StyleSheet.css') }}">
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="static/js/popper.min.js"></script>
    <script type="text/javascript" src="static/js/bootstrapV4.js"></script>
    <script type="text/javascript" src="static/js/table.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/jquery.dataTables.css" />
    <style type="text/css">
        table {
            width: 100%;

        }

        td {

        }

        .HomeResult {
            overflow-y: auto;
        }
    </style>
    <script type="text/javascript">
        function makeTableScroll() {
            // Constant retrieved from server-side via JSP
            var maxRows = 16;

            var table = document.getElementById('HomeResultTable');
            var wrapper = table.parentNode;
            var rowsInTable = table.rows.length;
            var height = 0;
            if (rowsInTable > maxRows) {
                for (var i = 0; i < maxRows; i++) {
                    height += table.rows[i].clientHeight;
                }
                wrapper.style.height = height + "px";
            }
        }
    </script>

    <link rel="stylesheet" href="{{ url_for('static', filename='StyleSheet.css') }}">
    <meta charset="UTF-8">
    <title>Upcomming</title>

</head>
<body onload="makeTableScroll()">

<a href="/Arsenal">
    <img class="img" src=" static/TeamsPic/arsenal_football_club_logo_by_lemongraphic-d3gg6no.png "
         style="width:60px;height:60px;border:0;">
</a>
<a href="/Manchester City">
    <img class="img" src=" static/TeamsPic/1024px-Manchester_City_FC_badge.svg.png "
         style="width:60px;height:60px;border:0;">
</a>
<a href="/Manchester United">
    <img class="img" src=" static/TeamsPic/Man United.png " style="width:60px;height:60px;border:0;">
</a>
<a href="/Liverpool">
    <img class="img" src=" static/TeamsPic/liverpool.png" style="width:60px;height:60px;border:0;">
</a>
<a href="/Chelsea">
    <img class="img" src=" static/TeamsPic/Chelsea_FC.svg.png " style="width:60px;height:60px;border:0;">
</a>
<a href="/Southampton">
    <img class="img" src=" static/TeamsPic/180px-FC_Southampton.svg.png " style="width:60px;height:60px;border:0;">
</a>
<a href="/Leicester City">
    <img class="img" src=" static/TeamsPic/220px-Leicester_City_crest.svg.png "
         style="width:60px;height:60px;border:0;">
</a>
<a href="/Everton">
    <img class="img" src=" static/TeamsPic/220px-Everton_FC_logo.svg.png " style="width:60px;height:60px;border:0;">
</a>
<a href="/Swansea City">
    <img class="img" src=" static/TeamsPic/Swansea_City_AFC_logo.svg.png" style="width:60px;height:60px;border:0;">
</a>
<a href="/Speiers">
    <img class="img" src=" static/TeamsPic/sp.png " style="width:60px;height:60px;border:0;">
</a>
<a href="/Newcastle United">
    <img class="img" src=" static/TeamsPic/Newcastle_United_Logo.svg.png " style="width:60px;height:60px;border:0;">
</a>
<a href="/Sunderland">
    <img class="img" src=" static/TeamsPic/220px-Logo_Sunderland.svg.png " style="width:60px;height:60px;border:0;">
</a>
<a href="/Stoke_City">
    <img class="img" src=" static/TeamsPic/220px-Stoke_City_FC.svg.png " style="width:60px;height:60px;border:0;">
</a>
<a href="/Burnley">
    <img class="img" src=" static/TeamsPic/200px-Burnley_FC_badge.png " style="width:60px;height:60px;border:0;">
</a>
<a href="/West_Ham_United">
    <img class="img" src=" static/TeamsPic/185px-West_Ham_United_FC_logo.svg.png "
         style="width:60px;height:60px;border:0;">
</a>
<a href="/Middlesbrough">
    <img class="img" src=" static/TeamsPic/Middlesbrough_FC_crest.svg.png " style="width:60px;height:60px;border:0;">
</a>
<a href="/Huddersfield">
    <img class="img" src=" static/TeamsPic/Huddersfield_Town_A.F.C._logo.svg.png"
         style="width:54px;height:66px;border:0;">
</a>
<a href="/Hull_City">
    <img class="img" src=" static/TeamsPic/15002368957_55515c3728_o.png " style="width:60px;height:60px;border:0;">
</a>
<a href="/Bournemouth">
    <img class="img" src=" static/TeamsPic/AFC_Bournemouth_(2013).svg.png " style="width:55px;height:60px;border:0;">
</a>
<a href="/West_Bromwich_Albion">
    <img class="img" src=" static/TeamsPic/160px-West_Bromwich_Albion.svg.png "
         style="width:60px;height:60px;border:0;">
</a>
<a href="/Watford">
    <img class="img" src=" static/TeamsPic/185px-Watford.svg.png " style="width:60px;height:60px;border:0;">
</a>
<ul>
    <a href="/">
        <img id="logo" src=" static/TeamsPic/LogoSample_ByTailorBrands52.jpg">
    </a>

    {% for item in nav.top %}
    <li class="{{ 'active' if item.is_active else '' }}">
        {{ item }}
        {% if item.items %}
        {% endif %}
    </li>
    {% endfor %}
</ul>
<div class="nleftArea">
    <table id="Upcomming_id" class="display">
        <thead>
        <tr>
            <th>Home Team</th>
            <th>Time</th>
            <th>Date</th>
            <th>Away Team</th>
        </tr>
        </thead>
        <tbody id="UpcommingTable"></tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog" >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <form class="form-inline" method="POST" action="{{ url_for('M')}}">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">Home</span>
                                <select id="Tea1" name="Team11_select" class="selectpicker form-control">
                                </select>
                                <span class="input-group-addon">Away</span>
                                <select id="Tea2" name="Team22_select" class="selectpicker form-control">
                                </select>
                            </div>
                            <button id="bt" type="submit" class="btn btn-default">Predict</button>
                            {{ msg }}
                        </div>
                    </form>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</body>
</html>